<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Book Store</h1>

    <table border="1" class="table">
      <thead>
        <tr>
          <th></th>
          <th>Customer</th>
          <th>Desciption</th>
          <th>Price</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>
            <img [src]="book.imageUrl" height="50" />
          </td>
          <td>{{ book.name }}</td>
          <td>{{ book.description }}</td>
          <td>{{ book.unitPrice | currency: "USD":true }}</td>
          <td>{{ book.createdOn | date }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
